/*.fotorama:not(.fotorama_js_inited) img {
    max-width: 450px;
}*/

.fotorama .fotorama__fullscreen-icon {
    display: block;
    opacity: 1 !important;
    transform: translate3d(0, 0, 0) !important;

    background: none;
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, .5);
    width: auto;
}

.fotorama .fotorama__fullscreen-icon:before {
    content: "Полный экран ";
}

.fotorama--fullscreen .fotorama__fullscreen-icon:before {
    content: "Назад ";
}
