.nav {
    margin-left: -14px;
    background: #f3c92f;
}

.nav__item {
    display: inline-block;
    padding: 0 14px;
    line-height: 60px;
    color: #000;
}

.nav__link:hover {
    color: #fff;
}

.nav__item_active {
    color: #f3c92f;
    background: #0e0e0e url('../page/bg.png') -118px -121px;
}
